<h1> Dice Roll </h1>

<form action = "/process_roll">
<label for = "sara"> Number of dice to roll?</label>
<input id = "sara" type = "text" name = "dice">

<label for = "thomas"> How many sides per die?</label>
<input id ="thomas" type = "text" name = "sides">

<button>Roll!</button>
</form>
